* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-size: 20.8px;
  background-color: rgb(28, 28, 30);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.calculate {
  padding: 0rem 5%;
  margin: 0 auto;
  max-width: 37.5rem;
}

input {
  padding-right: 40px;
  font-size: 150%;
  text-align: right;
  color: aliceblue;
  border: none;
  padding: 3% 3%;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
}

button {
  font-size: 110%;
  color: white;
  border: none;
  width: 100%;
  height: 3.125rem;
  border-radius: 5%;
  background: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 10%);
}

.keys {
  gap: 0.8125rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 0%);
  padding: 0.9375rem;
}

.orange {
  color: rgb(255, 166, 0);
}

.radius {
  background-color: rgb(255, 166, 0);
}

input:focus {
  border: none;
  outline: none;
}
